<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/errorstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/errorfont-awesome.min.css" asp-append-version="true" />

</head>
<body>
    <div class="error_main">
        <div class="content">
            <h1 class="h1">Sorry!</h1>
            <div class="error_content">
                <span class="fa fa-frown-o"></span>
                <h2>Invalid Election Official ID or Password. </h2>
                <p>We couldn't find your profile data. Please make sure you've entered the correct credentials. If you've forgotten your password, you can reset it from our login page.</p>
                <form action="#" method="post">
                    <div class="clear"> </div>
                </form>
                <a class="b-home" href="@Url.Action("Index", "ElectionOfficials")">Back To Election Official Login</a>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>