<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/errorstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/errorfont-awesome.min.css" asp-append-version="true" />

</head>
<body>
    <div class="error_main">
        <div class="content">
            <div class="error_content">
                <h1 style="color:black; ">Sorry!</h1>
                <br />
                <span class="fa fa-frown-o"></span>

                <h2>We couldn't find your mobile number.</h2>
                <p>Unfortunately, we do not have your number in our database. To access our services, please update your phone number in our portal. Once your number is verified, we will grant you access to your account.</p>

                <form action="#" method="post">
                    <div class="clear"> </div>
                </form>
                <a class="b-home" href="@Url.Action("Index", "Account")">Back To Member Login</a>
            </div>


        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>
