<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/images/bg.jpg" asp-append-version="true" />
</head>
<body style="background: #ecf0f3;">
    <div class="container">

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> @TempData["ErrorMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

    </div>

    <h1>OFFICIAL LOGIN</h1>
  
    <div style="
    text-align: center;
    margin: 0em auto;
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: auto;
    ">
        <img src="~/images/VotingLogo.webp" alt="Logo">
    </div>


    <div class="w3ls-login box box--big">

        <form asp-controller="ElectionOfficials" asp-action="Login" method="post">
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i>Election Official ID</label>
                <input type="text" name="ElectionOfficialID" placeholder="Enter Election Official ID" required="" />
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-unlock-alt" aria-hidden="true"></i>Password</label>
                <input type="password" name="Password" placeholder="Enter Password" required="" id="myInput" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Show Password</label>
                </div>

                <div class="agile-right">
                    <a href="@Url.Action("Index", "Account")" class="minimal-button">Go Back</a>
                </div>
            </div>

            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
          
            <input type="submit" value="LOGIN">


        </form>
    </div>

</body>
</html>