<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/errorstyle.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/errorfont-awesome.min.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/images/background.webp" asp-append-version="true" />
</head>
<body>
	<div class="error_main">
		<div class="content">
			<h1 class="h1">Sorry!</h1>
			<div class="error_content">
				<span class="fa fa-frown-o"></span>
				<h2>You have reached your vote casting limit. </h2>
				<p>Unfortunately, we do not allow you to cast further votes.</p>
				<form action="#" method="post">
					<div class="clear"> </div>
				</form>
				<a class="b-home" href="@Url.Action("Index", "Account")">Back To Member Login</a>
			</div>

		</div>
	</div>

	
</body>
</html>