<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_VotingSystem.styles.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/images/background.webp" asp-append-version="true" />
</head>

<body>

    <div class="container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> @TempData["ErrorMessage"]!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="row">
        </div>
    </div>

    <h1>Member Login</h1>

    <div class="clear-loading spinner">
        <span></span>
    </div>

    <div class="w3ls-login box box--big">

        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i>Member ID</label>
                <input type="text" name="MemberID" placeholder="Enter Member ID" required="" style="color:black" />
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-unlock-alt" aria-hidden="true"></i>Password</label>
                <input type="password" name="Password" placeholder="Enter Password" required="" id="myInput" style="color:black" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Show password</label>
                </div>

                <div class="agile-right">
                    <a href="@Url.Action("Index", "ElectionOfficials")" class="minimal-button">Election Official Login</a>
                </div>
            </div>

            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>

            <input type="submit" value="LOGIN">
        </form>
    </div>

    <div class="copy-wthree">
        <p>
            © 2023 Electronic voting. | Developed by
            <a href="https://www.aisonesystems.com//" target="_blank">Aisone Systems</a>
        </p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>