<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/castvotestyle.css" asp-append-version="true" />
  
</head>

<body style="background: #ecf0f3;">
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container mt-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 40rem; margin: 0 auto;">
            <div class="card-header bg-primary text-white">
                <strong>Thank You</strong>
            </div>
            <div class="card-body">
                <h1 class="card-text" style="color:ghostwhite">Voting Process Completed.</h1>

                <div class="text-left">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button class="btn btn-primary btn-block">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>